<div class="row" style="margin-top: 25px;">
    <div class="col-lg-12">

        <div class="panel with-nav-tabs panel-default">
            <div class="panel-heading">
                <h4>
                    <span class="circle active"></span>
                    {{t($lang.attools.atCommand)}}
                </h4>
            </div>
            <div class="panel-body panel-status hotspot-list">
                <span class="list-group-item clearfix">
                    <div class="text-left pull-left" style="padding: 10px 0;">
                        {{t($lang.attools.shortcut)}}
                    </div>
                    <div class="list-input-field">
                        <gl-select :option="atlist" optionName="msg" @change="getMsg"></gl-select>
                    </div>
                </span>
                <span class="list-group-item clearfix">
                    <div class="text-left pull-left" style="padding: 10px 0;">
                        {{t($lang.attools.atCommand)}}
                    </div>
                    <div class="list-input-field">
                        <gl-input v-model="atmsg" type="text" :placeholder="$lang.holdPlace.required"></gl-input>
                    </div>
                </span>
                <span class="list-group-item clearfix">
                    <div class="text-left pull-left" style="padding: 10px 0;">
                        {{t($lang.attools.port)}}
                    </div>
                    <div class="list-input-field">
                        <gl-select :option="list" v-model="listItem"></gl-select>
                    </div>
                </span>
                <span id="connectingMsgSpan" class="list-group-item vpn-status" v-show="atItem">
                    {{atItem}}
                </span>
                <div style="padding: 10px;text-align: center">
                    <gl-btn type="default" @click="sendtools" :disabled="isSend">
                        {{t($lang.button.send)}}
                        <span class="fa fa-circle-o-notch glyphicon-spin-animate" v-show="isSend"></span>
                    </gl-btn>
                </div>
            </div>
        </div>
    </div>
</div>