.config
.config.old
glinet
/openwrt-sdk-ar71xx-generic_gcc-7.3.0_musl.Linux-x86_64/bin
/openwrt-sdk-ar71xx-generic_gcc-7.3.0_musl.Linux-x86_64/tmp
/openwrt-sdk-ar71xx-generic_gcc-7.3.0_musl.Linux-x86_64/build_dir
/openwrt-sdk-ar71xx-generic_gcc-7.3.0_musl.Linux-x86_64/package/glinet
/openwrt-sdk-ar71xx-generic_gcc-7.3.0_musl.Linux-x86_64/staging_dir

/openwrt-sdk-ramips-mt76x8_gcc-7.3.0_musl.Linux-x86_64/bin
/openwrt-sdk-ramips-mt76x8_gcc-7.3.0_musl.Linux-x86_64/tmp
/openwrt-sdk-ramips-mt76x8_gcc-7.3.0_musl.Linux-x86_64/build_dir
/openwrt-sdk-ramips-mt76x8_gcc-7.3.0_musl.Linux-x86_64/package/glinet
/openwrt-sdk-ramips-mt76x8_gcc-7.3.0_musl.Linux-x86_64/staging_dir
